<div class='chat-room-form'>
  <h1>新規チャットルーム</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :チャットルーム名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='chat-room-form__field--right'>
        <%# プルダウンメニューの作成 %>
        <select name="room[user_ids][]">
          <%# eachメソッドでユーザーの情報を取得してプルダウンメニューに表示 %>
          <option value="">チャットするユーザーを選択してください</option>
          <%# 現在ログインしているユーザーは選択肢から除外 %>
          <% User.where.not(id: current_user.id).each do |user| %>
          <option value=<% user.id %>><%= user.name %></option>
          <% end %>
        </select>
        <%# 現在ログイン中のユーザーが持つidをparamsに含める %>
        <%# type属性にhiddenを指定することで、画面上には表示されないinput要素を作成できる %>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
